.container{
    /* SITE PARA COLAR CORES: CELKE */
    border: 1px solid #00FFFF	;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 50px 50px 50px 50px;
}

.itens{
    /* width: 35%;
    height: 100px; */
    border: 1px solid #FF00FF;
    font-size: 250%;
}