#ID1{
    color: darkorange;
  font-family: "Lobster", sans-serif;
}

#h1{
    color: white;
    padding: 10px;
    color: rgb(255, 0, 0);
    background-color: black;
    margin-top: auto;
    
}

img{
    width: 700px;
    height: 500px;
    margin-bottom: 30px;
}


#li{
    color: chocolate;
}

body{
    background-image: url(./the\ runaways.jpg);
    background-size: 100%;
    background-attachment: fixed;

}

