*{
    margin: auto;
    width: 90%;
}


.Divs{
    border: 2px solid black;    
    clear: both;
    /* HEIGHT SEPARA AS DIV 9 no caso as imagens) */
    height: 500px;
    /* margin separa as bordas junto com imagens */
    margin-bottom: 30px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#imgSorria2{
    height: 400px;
    width: 200px;
    float: left;
    margin-right: 60px; 
    border-radius: 5%;
    /* margin right - para separar texto da imagem */
    /* transition: width 5s, height 5s, transform 5s; */
}

#sorriaTABELA{
    width: 70%;
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 100px;
    border-radius: 1px;
}

/* TD --------- COLUNAS DA TABELA */
td{
    width: 50%;
    border: 1px solid;
}



/* #imgSorria2:hover {
    width: 700px;
    height: 700px;
    transform: rotate(360deg);
} */

/* HOVER É A AÇÃO DE QUANDO PASSA O MOUSE EM CIMA DA IMAGEM */
#imgANNABELLE{
    height: 400px;
    width: 400px;
    float: right;
    transition: opacity 0.9s;
}

#imgANNABELLE:hover{
    opacity: 0;
    /* OPACITY SERVE PARA IMAGEM SUMIR QUANDO PASSAR O MOUSE */
}

#paraANNABELLE::first-letter{
    font-size: 25px;
    color: crimson;
 
    /* LINK COPIADO DO GOOGLE FONTS */
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      

#imgKLEITAO{
    height: 300px;
    width: 400px;
    float: left;
}

#imgRed{
    height: 400px;
    width: 400px;
    float: right;
}

#imgX{
    height: 400px;
    width: 400px;
    margin-left: 14%;
}

#paragrafosorria{
    font-size: 25px;
    margin-top: 80px;
}

#paragrafosorria:hover{
    color: aquamarine;
}


/* W3SCHOOL site de aprenidizado */